[submodule "riffsync"]
	path = riffsync
	url = git@github.com:StacksOnTheRacks/riffsync.git
[submodule ".ai/memory"]
	path = .ai/memory
	url = git@github.com:StacksOnTheRacks/galaxy-class-memory.git
	branch = main
[submodule "turnur"]
	path = turnur
	url = git@github.com:StacksOnTheRacks/turnur.git
	branch = main
[submodule "galaxyclass"]
	path = galaxyclass
	url = git@github.com:StacksOnTheRacks/galaxyclass.git
	branch = main
